.officeSpaces {
  .officeConatiner {
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-width: 1186px;
    margin: auto;

    .top {
      flex: 1;

      h1 {
        text-align: center;
        line-height: 100px; /* same as height */
        font-size: 50px;
        font-weight: 400;
        text-transform: uppercase;
      }
    }
    .bottom {
      flex: 6;
      display: flex;
      gap: 10px;
      padding: 20px 20px;

      .left {
        flex: 2;
        padding: 10px 10px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .center {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px;

        .countryName {
          padding: 10px 10px;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;

          h3 {
            text-transform: uppercase;
            font-size: 30px;
            color: gray;
            cursor: pointer;
            font-weight: 400;
          }

          h3.active {
            color: var(--letter-color2);
            cursor: default;
            font-weight: 500;
          }
        }
      }
      .right {
        flex: 2;

        display: flex;
        flex-direction: column;
        gap: 5px;

        .officeInfo {
          flex: 1;

          h3 {
            font-size: 18px;
            font-weight: 300;
            text-transform: uppercase;
            border-bottom: 1px gray solid;
          }

          .officeInfoItem {
            padding: 10px 10px;
            display: flex;
            gap: 10px;

            ul {
              margin-left: 10px;
              list-style: none; /* Remove default bullets */
              li {
                padding: 0 10px;
                position: relative;  
                p {
                  font-size: 15px;
                  font-weight: 300;
                }
              }
            }

            .office::before {
              content: '';
              position: absolute;
              left: 0;
              top: 5px; /* adjust vertically as needed */
              transform: translateX(-20px);
              width: 20px;
              height: 20px;
              background-image: url('/office.png');
              background-size: contain;
              background-repeat: no-repeat;
            }

            .phone::before {
              content: '';
              position: absolute;
              left: 0;
              top: 5px; /* adjust vertically as needed */
              transform: translateX(-20px);
              width: 20px;
              height: 20px;
              background-image: url('/call.png');
              background-size: contain;
              background-repeat: no-repeat;
            }

            .mail::before {
              content: '';
              position: absolute;
              left: 0;
              top: 5px; /* adjust vertically as needed */
              transform: translateX(-20px);
              width: 20px;
              height: 20px;
              background-image: url('/email.png');
              background-size: contain;
              background-repeat: no-repeat;
            }

            .infoleft {
              flex: 1;
              padding: 10px 10px;
            }
            .infoRight {
              flex: 1;
              padding: 10px 10px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1195px) {
  .officeSpaces {
    .officeConatiner {
      .center {
        max-width: 200px;
        .countryName {
          padding: 10px 0;
          h3 {
            font-size: 18px !important;
            font-weight: 300;
          }
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .officeSpaces {
    .officeConatiner {
      .bottom {
        .left {
          display: none;
        }
        .center {
          align-items: start;
          justify-content: start;
          border: 1px solid gray;
        }
      }
    }
  }
}

@media (max-width: 507px) {
  .officeSpaces {
    .officeConatiner {
      .top {
        h1 {
          font-size: 30px;
          font-weight: 400;
        }
      }
      .bottom {
        .right {
          .infoRight {
            display: none;
          }
        }
      }
    }
  }
}
