.about {
  min-height: calc(100vh - 80px);
  .aboutWrapper {
    background-image: url("/about.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    min-height: calc(100vh - 80px);

    .aboutConatiner {
      max-width: 1186px;
      margin: auto;
      min-height: calc(100vh - 80px);
      display: flex;
      gap: 25px;
      color: var(--primary);

      .left {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 25px;
        padding: 0px 25px 20px 25px;

        margin-top: 10px;
        border-radius: 6px;

        h1 {
          font-size: 60px;
          font-weight: 400;
          letter-spacing: 2px;
          transform: scale(1, 1.3);
          text-transform: uppercase;
        }

        p {
          line-height: 1fr;
          font-size: 15px;
          font-weight: 400;
          letter-spacing: 1px;
        }

        button {
          cursor: pointer;
          width: max-content;
          padding: 10px 10px;
          background-color: #591991;
          border: none;
          color: var(--letter-color1);
          font-size: 15px;
          font-weight: 300;
        }
      }
      .right {
        flex: 1;
        max-height: 70vh;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  section:nth-of-type(1) {
    background-image: url("/background.jpg");
    overflow: hidden;
  }
  section:nth-of-type(2) {
    background-image: url("/cover5.jpg");
  }
}

@media (max-width: 1199px) {
  .about {
    .aboutWrapper {
      .aboutConatiner {
        max-width: 925px;
      }
    }
  }
}

@media (max-width: 991px) {
  .about {
    .aboutWrapper {
      .aboutConatiner {
        max-width: 875px;

        .left {
          h1 {
            font-size: 35px;
          }

          p {
            font-size: 13px;
          }
        }
      }
    }
  }
}
@media (max-width: 767px) {
  .about {
    .aboutWrapper {
      .aboutConatiner {
        max-width: 680px;
        .left {
          h1 {
            font-size: 45px;
          }

          p {
            font-size: 15px;
          }
        }
        .right {
          display: none;
        }
      }
    }
  }
}
@media (max-width: 575px) {
  .about {
    .aboutWrapper {
      .aboutConatiner {
        max-width: 480px;
        .left {
          h1 {
            font-size: 30px;
          }
          p {
            font-size: 12px;
          }

          button {
            display: none;
          }
        }
      }
    }
  }
}
