.homeDesc {
  width: 100vw;

  .homeDescWrapper {
    max-width: 1186px;
    margin: auto;
    display: flex;
    gap: 40px;
    height: 100%;
    padding-right: 20px;
    position: relative;

    .left {
      flex: 1;
      height: 75vh;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .showCounter {
      position: absolute;
      bottom: 10px;
      left: 10px;
      background-color: var(--primary);
      height: 150px;
      width: 100px;
      padding: 10px 5px;

      display: flex;
      flex-direction: column;
      gap: 5px;
      align-items: center;
      justify-content: center;

      .counterTop {
        flex: 1;

        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 40px;
          height: 40px;
        }
      }
      .counterBottom {
        flex: 1.5;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 5px;
        color: var(--letter-color1);

        .counterWrapper {
          display: flex;
          align-items: end;
          justify-content: space-between;
          min-width: 80px;
          padding: 5px 0;
          text-align: end;

          h3 {
            min-width: 70%;
            transform: scale(1, 2);
          }
        }
        p {
          min-width: 30%;
          font-size: 8px;
        }
      }
    }
    .right {
      flex: 2;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-around;

      p {
        font-size: 15px;
        font-weight: 400;
        color: var(--primary);
      }

      h1 {
        font-size: 50px;
        font-weight: 400;
        letter-spacing: 2px;
        text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.25);
      }

      .homeDescContainer {
        display: flex;
        gap: 10px;

        p {
          color: black;
        }

        .homeDescContainerLeft {
          flex: 2;
          padding-right: 10px;
        }
        .homeDescContainerRight {
          flex: 1.5;
          padding: 0 10px;

          li {
            margin-bottom: 10px;
          }
        }
      }

      h5 {
        font-size: 15px;
      }
    }
  }
  @media (max-width: 1115px) {
    .homeDescWrapper {
      max-width: 890px;

      .left {
        height: 100vh;
      }
    }
  }
  @media (max-width: 915px) {
    .homeDescWrapper {
      max-width: 860px;
      display: flex;
      align-items: center;
      justify-content: center;

      .right {
        align-items: flex-start;
        justify-content: start;
        gap: 20px;
        p {
          font-size: 13px;
        }

        li {
          font-size: 13px;
        }

        h1 {
          font-size: 30px;
          font-weight: 400;
        }
      }
    }
  }

  @media (max-width: 696px) {
    .homeDescWrapper {
      max-width: 600px;

      .left,
      .showCounter {
        display: none;
      }
    }
  }

  @media (max-width: 621px) {
    .homeDescWrapper {
      max-width: 520px;

      .homeDescContainer {
        flex-direction: column;
      }
    }
  }
  @media (max-width: 550px) {
    .homeDescWrapper {
      max-width: 450px;
    }
  }
  @media (max-width: 450px) {
    .homeDescWrapper {
      max-width: 300px;

      .right {
        gap: 8px;
        p {
          font-size: 10px;
        }

        li {
          font-size: 10px;
        }

        h1 {
          font-size: 20px;
          font-weight: 300;
        }

        .sign {
          h4 {
            font-size: 12px;
            font-weight: 300;
          }
          p {
            font-size: 10px;
          }
        }
      }
    }
  }

  @media (max-width: 315px) {
    .homeDescWrapper {
      max-width: 280px;
    }
  }
}
