.services {
  .servicesWrapper {
    width: 100vw;

    .topSectionConatiner {
      min-height: calc(70vh - 80px);
      scroll-snap-align: center;
      background-image: url("../public/cover3.jpg");
      background-size: 100%;
      background-attachment: fixed;
      background-position: center;

      .topSection {
        max-width: 1186px;
        margin: auto;
        min-height: calc(70vh - 80px);

        display: flex;
        align-items: center;
        justify-content: start;
        padding: 20px 20px;

        img {
          width: 100px;
          height: 100px;
        }

        h1 {
          font-size: 65px;
          font-weight: 800;
          letter-spacing: 2px;
          text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.25);
          color: var(--primary);
          transform: scale(1, 1.3);
        }
      }
    }
    .seviceHeadingConatiner {
      min-height: 30vh;
      background-color: white;

      display: flex;
      flex-direction: column;
      gap: 15px;
      align-items: center;
      color: var(--letter-color2);
      text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.25);

      .top {
        width: 1186px;
        text-align: start;
        background-color: var(--primary);
        padding: 5px 25px;
        transform: translateY(-30px);
        h2 {
          font-size: 45px;
          font-weight: 600;
          letter-spacing: 2px;
        }
      }

      .bottom {
        display: flex;
        gap: 25px;
        font-size: 15px;
        font-weight: 400;
        letter-spacing: 1px;

        ul {
          padding: 0 20px;
        }
      }
    }
  }
}
