.home {
  .homeWrapper {
    width: 100vw;

    .heroConatiner {
      min-height: calc(100vh - 80px);
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      background-image: url("../public/cover4.jpg");
      background-size: 100%;
      background-attachment: fixed;
      background-position: center;

      .top {
        min-width: 1186px;
        margin: auto;
        flex: 5;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        gap: 5px;
        color: var(--letter-color2);

        .left {
          width: 100%;

          h1 {
            font-size: 50px;
            font-weight: 400;
            letter-spacing: 2px;
            text-shadow: -1px -1px 0 gray, 1px -1px 0 gray, -1px 1px 0 gray,
              1px 1px 0 gray;
          }
          p {
            font-size: 13px;
            font-weight: 300;
            color: lightgray;
            letter-spacing: 1.5px;
            line-height: 2fr;
          }
        }
      }
      .bottom {
        flex: 5;
        position: relative;
        background-color: var(--primary);
        width: 100vw;
      }

      .serviceLinks {
        background-color: var(--letter-color1);
        width: 70vw;
        height: 100px;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        bottom: 20%;
        border-radius: 8px;

        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 5px;
        flex-wrap: wrap;

        .serviceItem {
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 5px;
          padding: 10px 10px;
          border-right: 1px black solid;

          .serviceImg {
            flex: 1;
            width: 100%;
            height: 100%;

            img {
              width: 75%;
              height: 75%;
              object-fit: cover;
            }
          }
          .serviceText {
            flex: 1.5;

            p {
              font-size: 10px;
              font-weight: 300;
              color: var(--primary);
            }

            h5 {
              font-size: 10x;
            }
          }
        }

        .serviceItem:nth-of-type(4) {
          border: none;
        }
      }

      @media (max-width: 1115px) {
        .top {
          min-width: 853px;
        }
      }
      @media (max-width: 715px) {
        .top {
          min-width: 630px;
          .left {
            h1 {
              font-size: 30px;
              font-weight: 400;
            }
            p {
              font-size: 10px;
            }
          }
        }
      }
      @media (max-width: 644px) {
        .top {
          min-width: 500px;
        }
        .bottom{
          display: none;
        }
      }
      @media (max-width: 529px) {
        .top {
          min-width: 430px;
        }
      }

      @media (max-width: 444px) {
        .top {
          min-width: 300px;
          .left {
            h1 {
              font-size: 20px;
              font-weight: 300;
            }
            p {
              font-size: 8px;
            }
          }
        }
      }
    }
    section:nth-of-type(1) {
      display: flex;
      align-items: center;
      justify-content: center;
      background-image: url("../public/background.jpg");
    }

    section:nth-of-type(2) {
      background-image: url("../public/cover2.jpg");
    }

    @media (max-width: 875px) {
      .top {
        min-width: 700px;
      }
      .heroConatiner {
        .serviceLinks {
          width: 85vw;
          height: 120px;

          .serviceItem {
            gap: 2px;
            padding: 5px 5px;
            min-height: 100%;

            .serviceImg {
              width: 100%;
              height: 100%;

              img {
                width: 60%;
                height: 60%;
              }
            }
            .serviceText {
              p {
                font-size: 8px;
                font-weight: 300;
              }

              h5 {
                font-size: 8x;
                font-weight: 300;
              }
            }
          }
        }
      }
    }
    @media (max-width: 615px) {
      .heroConatiner {
        .serviceLinks {
          height: max-content;

          .serviceItem {
            .serviceImg {
              display: none;
            }
            .serviceText {
              text-align: center;
              h5 {
                font-size: 10x;
                font-weight: 400;
              }
            }
          }
        }
      }
    }
    @media (max-width: 291px) {
      .heroConatiner {
        .serviceLinks {
          height: max-content;

          .serviceItem {
            border-right: none
          }
        }
      }
    }
  }
}
