.navBar {
  color: var(--letter-color1);
  width: 100%;
  height: 80px;
  scroll-snap-align: center;
  background-color: var(--seconadry);

  .navbarConatiner {
    height: 100%;
    margin: auto;
    max-width: 1186px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      background-color: var(--primary);
      display: flex;
      align-items: center;
      justify-content: center;
      width: 120px;
      height: 35px;
      border-radius: 5px;
      overflow: hidden;
      cursor: pointer;
      padding: 5px 10px;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .linkConatiner {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 15px;
    }

    .menuItem {
      padding: 6px 12px;
      border-radius: 6px;
      width: max-content;
      text-align: center;
      cursor: pointer;

      font-size: 15px;
      font-weight: 300;
    }

    .active {
      background-color: var(--primary);
      color: var(--letter-color1);
      cursor: default;
    }

    .menuItem:not(.active):hover {
      background-color: var(--primary);
      opacity: 0.9;
      color: var(--letter-color1);
      transition: all 1s ease-in-out;
    }
  }

  @media (max-width: 1115px) {
    .navbarConatiner {
      max-width: 890px;
    }
  }
}
